
<!--img class="ui tiny image"
     *ngIf="course && course.images && course.images[0]" [src]="course.images[0].url">
<div class="content">
  <div class="header">{{course?.title}}</div>
  <div class="description">{{course?.description}}</div>
  <span>{{course?.user?.firstName}}  {{course?.user?.lastName}}</span>
</div-->

<div class="ui link cards grid mb4">
  <div class="card">
    <div class="image">
      <img *ngIf="course && course.images && course.images[0]" [src]="course.images[0].url">
    </div>
    <div class="content">
      <div class="header">{{course?.title}}</div>
      <!--div class="meta">
        <a>Friends</a>
      </div-->
      <div class="description">
        {{course?.description}}
      </div>
    </div>
    <div class="extra content">
      <!--span class="right floated">
        Joined in 2013
      </span-->
      <span>
        <i class="user icon"></i>
        {{course?.user?.firstName}}  {{course?.user?.lastName}}
      </span>
    </div>
  </div>
</div>
